# Analysis of Variance

Analysis of Variance (ANOVA) is a statistical formula used to compare variances across the means (or average) of different groups

Hnull → µ1 = µ2 = µ3 = µ4    

Halternative → Hnull is not true.

 ***Assumptions***      
 1.Observations are independent of each other.   
 2.Normal distribution   
 3.Variance homogeneity

### Real Case:
The time spent on the website is requested to be increased.
* Same news are arranged different formats in order to be observed.
A: Natural Format
B: Directive Format
C: Attractive Format

#### Step 1: 
H0: M1 = M2 = M3 (grup ortalamalari arasinda ist anl. farklilik yoktur) 

H1: Fark vardir.

### Step 2:

In [2]:
import pandas as pd
A = pd.DataFrame([28,33,30,29,28,29,27,31,30,32,28,33,25,29,27,31,31,30,31,34,30,32,31,34,28,32,31,28,33,29])

B = pd.DataFrame([31,32,30,30,33,32,34,27,36,30,31,30,38,29,30,34,34,31,35,35,33,30,28,29,26,37,31,28,34,33])

C = pd.DataFrame([40,33,38,41,42,43,38,35,39,39,36,34,35,40,38,36,39,36,33,35,38,35,40,40,39,38,38,43,40,42])

dfs = [A, B, C]

ABC = pd.concat(dfs, axis = 1)
ABC.columns = ["GROUP_A","GROUP_B","GROUP_C"]
ABC.head()

   GROUP_A  GROUP_B  GROUP_C
0       28       31       40
1       33       32       33
2       30       30       38
3       29       30       41
4       28       33       42

### Step 3: Assumption Control

Ho: There is no difference between the sample distribution and the theoretical distribution.

H1: There is a difference between the sample distribution and the theoretical distribution

In [23]:
from scipy.stats import shapiro
import scipy.stats as stats

#### 1-)Normal
#### Sharpio-Milk Test

In [24]:
shapiro(ABC["GROUP_A"])

ShapiroResult(statistic=0.969743013381958, pvalue=0.5321670174598694)

In [25]:
shapiro(ABC["GROUP_B"])

ShapiroResult(statistic=0.9789853096008301, pvalue=0.7979751229286194)

In [26]:
shapiro(ABC["GROUP_C"])

ShapiroResult(statistic=0.9579201340675354, pvalue=0.273820161819458)

P values are higher than Alpha. Therefore, Ho is not rejected.

#### 2-)Variance Homogeneity
#### Levene

In [22]:
stats.levene(ABC["GROUP_A"], ABC["GROUP_B"],ABC["GROUP_C"])

LeveneResult(statistic=1.0267403645055275, pvalue=0.36247110117417064)

P values are higher than Alpha. Therefore, Ho is not rejected.

We can continue with Hypothesis test rather than Nonparametrik Hipotez Testi.

### Step 4: Hypothesis Tests

In [13]:
from scipy.stats import f_oneway
f_oneway(ABC["GROUP_A"], ABC["GROUP_B"],ABC["GROUP_C"])

F_onewayResult(statistic=74.69278140730431, pvalue=1.3079050746811477e-19)

P value is lower than Alpha. Therefore, Ho is rejected. This means that all kind of news are different from each others.

In [29]:
ABC.describe().T

         count       mean       std   min    25%   50%    75%   max
GROUP_A   30.0  30.133333  2.224214  25.0  28.25  30.0  31.75  34.0
GROUP_B   30.0  31.700000  2.937862  26.0  30.00  31.0  34.00  38.0
GROUP_C   30.0  38.100000  2.808239  33.0  36.00  38.0  40.00  43.0

Group C is the highest effective way for web site. Because it has the highest mean.

### Nonparametric Dependent Two-Sample Test

In [30]:
from scipy.stats import kruskal
kruskal(ABC["GROUP_A"], ABC["GROUP_B"],ABC["GROUP_C"])

KruskalResult(statistic=54.19819735523783, pvalue=1.7022015426175926e-12)